<div style="height: 100%;">
    <nav class="navbar navbar-expand-lg
    navbar-light upper">
        <a class="navbar-brand" href="" [routerLink]="['']">Home <i  class="fas fa-house-user bounce"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navTop">
                <a class="nav-item nav-link" href="" (click)="logout()">Logout</a>
                <a class="nav-item nav-link" href="#">Profile</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-2" id="green">
                <a [routerLink]="['/categories']">Categories</a>
                <a [routerLink]="['/vendors']">Vendors</a>
                <a [routerLink]="['/products']">Products</a>
                <a *ngIf="roll == 'Admin'" [routerLink]="['/customers']">Customers</a>
                <a *ngIf="roll == 'Vendor'" [routerLink]="['/myProducts']">MyProducts</a>
                <a *ngIf="roll == 'Customer'" [routerLink]="['/likes']">Likes</a>
            </div>
            <div class="col-10 base" style="text-align: justify;">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>