.product {
    background-color: #4cb9e796;
    border: 2px solid #3559E0;
    color: #EEEEEE;
    font-size: 1.5vw;
    font-weight: 500;
    width: 45%;
    padding: 2%;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name{
    color: #00DFA2;
    font-size: 2vw;
    font-weight: 600;
}
.fa-trash{
    font-size: 4vw;
    color: red;
}
