<div class="container-fluid glow-text">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <div class="formGroup">
            <div class="lableAndInput">
                <label for="productName">Product Name:</label>
                <input type="text" id="productName" formControlName="productName">
            </div>
            <div *ngIf="form.get('productName').hasError('required') && form.get('productName').touched"
                style="color: rgb(255, 47, 47);">
                Product Name is required.
            </div>
        </div>

        <div class="formGroup">
            <div class="lableAndInput">
                <label for="price">Price:</label>
                <input type="number" id="price" formControlName="price">
            </div>
            <div *ngIf="form.get('price').hasError('required') && form.get('price').touched" style="color: red;">
                Price is required.
            </div>
        </div>

        <div class="formGroup">
            <div class="lableAndInput">
                <label for="rating">Rating:</label>
                <input type="number" id="rating" formControlName="rating">
            </div>
            <div *ngIf="form.get('rating').hasError('required') && form.get('rating').touched" style="color: red;">
                Rating is required.
            </div>
        </div>

        <div class="formGroup">
            <div class="lableAndInput">
                <label for="categoryId">Category:</label>
                <select id="categoryId" formControlName="categoryId">
                    <option *ngFor="let category of categories" [value]="category.categoryId">
                        {{ category.categoryName }}
                    </option>
                </select>
                <div class="add" (click)="showCategoryForm()">
                    <i class="fa fa-plus-square"></i>
                </div>
            </div>
            <div *ngIf="form.get('categoryId').hasError('required') && form.get('categoryId').touched"
                style="color: red;">
                Category is required.
            </div>
        </div>

        <div class="formGroup cat" *ngIf="addCategory">
            <div class="lableAndInput">
                <label for="categoryName">Category Name:</label>
                <input type="text" [(ngModel)]="categoryName" name="categoryName"  [ngModelOptions]="{standalone: true}">
            </div>
            <div class="add save" (click)="categoryAdd()">
                Save
            </div>
        </div>

        <div class="formGroup">
            <label for="image">Image:</label>
            <input type="file" id="image" formControlName="image" (change)="onFileChange($event)">
            <div *ngIf="form.get('image').hasError('required') && form.get('image').touched" style="color: red;">
                Image is required.
            </div>
        </div>

        <button type="submit" class="add glow-text" [disabled]="!form.valid">Submit</button>
    </form>
    <form>

    </form>
</div>