.col-4{
    background-color: #4cb9e796;
    border: 2px solid #3559E0;
    height: 70%;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.row{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.name{
    font-size: 45px;
    font-weight: 900;
    color: #F4F27E;
}
.count{
    font-size: 30px;
    font-weight: 500;
    color: #F875AA;
}