<div class="container-fluid" *ngIf="categoryRecived">
    <div class="products glow-text">
        <div *ngFor="let product of categoryDetail" class="product">
            <div class="image-container">
                <img [src]="product.imagePath" alt="Product Image" class="cover-image">
            </div>
            <div>
                {{product.productName}}
            </div>
            <div>
                Price: {{product.price}}
            </div>
            <div>
                Rating: {{product.rating}}
            </div>
            <div>
                CategoryName: {{product.categoryName}}
            </div>
            <button *ngIf="roll == 'Customer'" class="heart" (click)="like(product.productId)">
                <i *ngIf="product.isLikes" class="fas fa-heart"></i>
                <i *ngIf="!product.isLikes" class="far fa-heart"></i>
            </button>
        </div>
    </div>
</div>