/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

#green {
    text-align: center;
    color: black;
    padding-top: 20px;
    background-image: linear-gradient(-20deg, #2ff0e3 0%, #30a9dd98 100%);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.glow-text {
    text-shadow: 0 0 10px rgba(0, 0, 255, 0.87), 0 0 20px rgba(0, 0, 255,rgba(0, 0, 255, 0.685)22), 0 0 30px #00f; /* Adjust the shadow color and size */
    animation: glow 2s ease-in-out infinite; /* Adjust the animation duration and timing function */
  }

  @keyframes glow {
    0% {
      text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f;
    }
    50% {
      text-shadow: 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f;
    }
    100% {
      text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f;
    }
  }
  
.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
}
@-webkit-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.4em; }
  100% { top: 0; }
}
@-moz-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-o-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-ms-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}